<div class="fm-panel">
    <h4>Twitter Wall Configuration</h4>

    <div>

        <ul>
            <li ng-repeat="param in params" fadey="200">
                <span>{{param.value}}</span>
                <a ng-click="removeHashTag($index)">[X]</a>
            </li>
        </ul>

        <button class="btn btn-primary" ng-click="toggleTweetInfo()">Add/Remove search</button>

        <form di-fade-in="displayForm" ng-submit="addHashTag()" name="myForm">
            <fieldset>
                <legend>Search</legend>
                <div class="input-prepend">
                    <span class="add-on">#</span>
                    <input autofocus class="span2" id="prependedInput" ng-model="hashTag" type="text" required>
                    <button class="btn" type="submit" ng-disabled="myForm.$invalid">add HashTag</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>