<div class="row-fluid">
    <div class="span9 fm-panel">

        <h4>Tweet Wall{{wall.info.counter | inProgress}}</h4>

        <div class="raw animate tweet" ng-repeat="tweet in wall.info.tweets">
            <div class="span1">
                <img class="img-rounded" ng-src="{{tweet.profile_image_url}}"/>
            </div>
            <div class="span11">
                <div>
                    <span class="from_user_name">{{tweet.from_user_name}}</span>
                    <span class="from_user">@{{tweet.from_user}}</span>
                </div>
                <div ng-bind-html="tweet.text | linky | username | hashtag"></div>
            </div>
        </div>
    </div>

    <!-- TODO -->
    <div class="span3 fm-panel">
        <h4>Search criteria</h4>

        <form name="wallForm" ng-submit="startWall()">
            <input type="text" placeholder="tweet search" class="input-medium search-query ng-valid ng-dirty"
                   ng-model="searchForm" autofocus="" required>
            <button type="submit" class="btn" ng-disabled="wallForm.$invalid">Search</button>
        </form>

        <ul>
            <li>{{searchTerm}}</li>
        </ul>

        <div>
            <a ng-click="wall.stop()" ng-hide="!wall.info.started">Stop refresh</a>
            <a ng-click="wall.start()" ng-hide="wall.info.started">Activate refresh</a>
        </div>
    </div>

</div>